/* The Higgs Bottom Grid */
/* 
  Baseline grid of 16px 
  Default 960px
*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
h1, h2, h3 {
  font-weight: normal;
}


ul, p, ol, table {
  margin-bottom: 16px;
}
header, footer {
  clear:both;
  padding: 16px;
}
#container {
  width: 960px;
  margin: 0 auto;
}

section {
  margin-bottom: 16px;
}

.col {
  float: left;
}
.pad {
  padding: 16px 16px 0;
}


/* 3 Column */
.u-3-2 {
  width: 640px;
  background: #CCC;
}
.u-3-1 {
  width: 320px;
  background: #BBB;
}

.u-3-2.pad {
  width: 608px;
}

.u-3-1.pad {
  width: 288px;
}

/* Two column */
.u-2-1 {
  width: 480px;
  background: #CCC;
}
.u-2-1.pad {
  width: 448px;
}

/* Mobile */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
/* Styles */

  #container {
    width: 320px;
  }
  #container .col {
    float: none;
    width: 286px;
    padding: 16px 16px 0;
  }
}


/* 1280 res */

@media only screen 
and (min-width : 1248px) {

  /* 1248px is optimal grid */
  #container {
    width: 1248px;
  }

  /* Styles */
  .u-3-2 {
    width: 832px;
  }

  .u-3-1 {
    width: 416px;
  }
      
  .u-3-2.pad {
    width: 800px;
  }
  
  .u-3-1.pad {
    width: 384px;
  }
  
  /* Two column */
  .u-2-1 {
    width: 624px;
  }
  .u-2-1.pad {
    width: 592px;
  }


}

